body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #FFFFFF;
    font-family: "Contrail One";
}

@-ms-viewport{
  width: device-width;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.ttf')
}

@font-face{
    font-family: "Contrail One";
    src: url('../fonts/ContrailOne-Regular.ttf');
}

header{
    background-color: #F4E7DD;
    text-align: center;
}

.wrap { 
  position: relative; 
  max-width: 100%;
  margin: auto;
}

#logo{
    width: 1000px;
    height: 450px;
    margin: 0 auto;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}

footer{
    background-color: #BE3B3B;
    margin: 0;
    padding: 10px;
}

footer > p{
    text-align: left;
    margin: 0;
}

div{
    overflow: hidden;
}

.hub-heading{
    font-size: 3em;
    margin: 20px 0 -10px 0;
}

h2{
    margin: 0;
    font-family: "Contrail One";
    font-size: 3em;
}

h3{
    font-size: 2em;
    margin: 0;
    font-family: "Contrail One";
}

/* nav */
ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
    display: inline;
    text-align: center;
}

li a{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-family: "Contrail One";
    font-size: 2em;
    color: #FFFFFF;
}

.vocab li{
    display: block;
    padding: 5px;
    font-size: 1.5em;
}

nav{
    margin: 0 auto;
    text-align: center;
    background-color: #5B7A8C;
    padding: 0;
}

#mobile-nav{
	width: 100%;
	height: 45px;
	overflow: hidden;
	margin: 0;
	background-color: #34302D;
    position: fixed;
    top: 0;
    z-index: 2;
    display: none;
}

.menu-link{
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px;
    text-align: center;
    vertical-align: top;
    background-color: #5B7A8C;
    opacity: 0.4;
    position: relative;
    top: 10px;
    left: 7px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.menu-link img{
    width: 30px;
    position: relative;
    bottom: 5px;
}

.menu-link:hover{
    opacity: 1;
}

.panel {
    position: fixed;
    background-color: #34302D;
    left: 8em;
    display: none;
}

.panel ul{
    width: 50px;
}

.panel ul li a{
    display: block;
    margin: 50px 0px 0 10px;
}
/* banners */

.banner{
    height: 450px;
    margin: 0 auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#index-banner{
    background: url("../img/index.svg") no-repeat center center;
}

#about-banner{
    background: url("../img/lesson.svg") no-repeat center center;
}

#tutorial-banner{
    background: url("../img/tutorial.svg") no-repeat center center;
}

#lesson-banner{
    background: url("../img/lesson.svg") no-repeat center center;
}

#hub-banner{
    background: url("../img/tutorial.svg") no-repeat center center;
}

#quiz-banner{
    background: url("../img/quiz.svg") no-repeat center center;
}



/* main content */

.main-sections{
    padding: 15px;
    text-align: center;
}

.main-sections p{
    width: 50%;
    margin: 0 auto;
}

.content-circle{
    text-align: center;
    max-width: 33%; /* dont know if this is considered harmful */
    display: inline-block;
    margin: 0 auto;
}

.half-circle{
    width: 49%;
}

.clip-circle img{
    width: 50%;
    height: 50%;
}

.content-circle h3{
    font-size: 2em;
    width: auto;
}

.first{
    background-color: #BE3B3B;
}

.second{
    background-color: #EE984A;
}

.third{
    background-color: #5B7A8C;
}

.text-center{
    text-align: center;
}

.half{
    width: 49%;
    display: inline-block;
}


/*slidr styles */
.slidr{
    width: 300px;
    height: 300px;
    display: inline-block;
}

.slidr-images{
    height: 225px;
    width: 225px;
    background-repeat: no-repeat;
    right: 35px;
    top: 35px;
}

#slidr-earth{
    background-image: url('../img/earth.png');
}

#slidr-compass{
    background-image: url('../img/compass.png');
}

#slidr-disc{
    background-image: url('../img/disc.png');
}

#slidr-fridge{
    background-image: url('../img/fridge.png');
}

#slidr-horseshoe{
    background-image: url('../img/horseshoe.png');
}

#slidr-lightning{
    background-image: url('../img/lightning-225.png');
}

#slidr-generator{
    background-image: url('../img/generator.png');
}

#slidr-clock{
    background-image: url('../img/clock.png');
}

#slidr-computer{
    background-image: url('../img/computer.png');
}

#slidr-light{
    background-image: url('../img/lightbulb.png');
}

.hack{
    display: none !important;
}

/* quiz styles */

#submit{
    border: none;
    border-radius: 10px;
    background-color: #34302D;
    transition: color 0.3s, background-color 0.3s;
}

#submit:hover{
    color: #34302D;
    background-color: #FFFFFF;
}
.answers{
    display: block;
    margin: 0 auto;
    width: 375px;
}

.answers label{
    padding-top: 10px;
}

#result, #pass-fail{
    margin-top: 10px;
}

/* tutorial styles */

.tutorial-text{
    font-size: 1.25em;
    padding: 10px;
}

.drag-container{
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

.dropzone {
    background-color: #ccc;
    border: dashed 3px transparent;
    border-radius: 4px;
    margin: 10px auto 30px;
    width: 80%;
    transition: background-color 0.3s, border-color 0.3s;
}

.drop-active {
  border-color: #666;
}

.drop-target {
  background-color: #29e;
}

.drag-drop{
  display: inline-block;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s, border 0.3s;
}

.draggable{
    z-index: 2000;
}

/*
.drag-drop.can-drop { 
    background-color: #4e4; 
}
*/


/* circuits tutorial */


#battery{
    background: url('../img/battery.png') no-repeat;
    height: 95px;
    width: 208px;
    position: relative;
    bottom: 600px;
}

#wire-left{
    background-image: url('../img/copperwire-left.png');
    width: 158px;
    height: 315px;
    position: relative;
    bottom: 550px;
    right: 300px;
}

#wire-right{
    background-image: url('../img/copperwire-right.png');
    width: 158px;
    height: 315px;
    position: relative;
    bottom: 550px;
    right: 300px;
}

#lightbulb-circuits{
    background: url('../img/lightbulb-off.png') no-repeat;
    width: 158px;
    height: 218px;
    position: relative;
    float: right;
    margin-right: 350px;
    z-index: 1;
}

.battery-drop{
    height: 95px;
    width: 208px;
    position: relative;
    top: 420px;
    left: 425px;
}

.wire-right-drop{
    width: 158px;
    height: 315px;
    position: relative;
    left: 300px;
    z-index: 0;
    top: 30px;
}
.wire-left-drop{
    width: 158px;
    height: 315px;
    position: relative;
    left: 300px;
    z-index: 0;
    bottom: 325px;
}

/* magnets tutorial */

.height-adjustment{
    position: relative;
    bottom: 200px;
    margin-bottom: -150px;
}

#magnetstack{
    background-image: url('../img/magnetstack.png');
    width: 80px;
    height: 120px;
    position: relative;
    bottom: 700px;
    right: 300px;
}

#motor-copperwire2{
    background-image: url('../img/motor-copperwire2.png');
    width: 122px;
    height: 172px;
    margin: 0 auto;
    position: relative;
    top: 395px;
    left: 215px;
    z-index: 2;
}

#motor-copperwire3{
    background-image: url('../img/motor-copperwire3.png');
    width: 339px;
    height: 299px;
    position: relative;
    margin: 0 auto;
    top: 90px;
    right: 20px;
    z-index: 2;
}

#spinny{
    background-image: url('../img/spinnything.png');
    width: 367px;
    height: 223px;
    position: relative;
    bottom: 100px;
    margin: 0 auto;
}

#tapedbattery{
    background-image: url('../img/tapedbattery.png');
    width: 63px;
    height: 140px;
    position: relative;
    bottom: 600px;
    left: 400px;
}

.tapedbattery-drop{
    height: 140px;
    width: 63px;
    position: relative;
    bottom: 425px;
    left: 140px
}

.magnet-drop{
    width: 80px;
    height: 120px;
    position: relative;
    bottom: 425px;
}